body {
	padding-top: 70px;
	padding-bottom: 30px;
}

#frmSettings h3 {
	margin-top: 0;
}

.main-content {
	margin-top: 30px;
}

.account-profile {
	float: right;
	margin-top: -10px !important;
	margin-right: 10px;
}

.footer {
	background-color: #e0e0e0;
	border-top: 1px solid #bdbdbd;
	width: 100%;
	position: fixed;	
	left: 0;
	bottom: 0;
	text-align: center;
	padding-top: 8px;
	padding-bottom: 8px;
	box-sizing: border-box;
}

.emp {
	font-weight: 600;
}